
.row-fluid
  .span12
    .page-header
      %h2 Tracker
    .span8
      .btn-toolbar
        .btn-group
          = link_to '#', class: 'btn btn-inverse btn-small', id: 'new_task' do
            %i.icon-plus-sign.icon-white
            %span task

      %table.table.table-hover
        %thead
          %tr
            %th Task
            %th Project
            %th Estimated
            %th So far
        %tbody
          = render partial: 'task', collection: @tasks
    .span3
      .page-header
        %h5 Chart

      .chart-container#week
#modals
  = render 'tasks/form'

#recents{ :"data-chart_series" => @tasks.map{ |t| t.times_per_day.to_json } }
