%section#ticket_comments
  .page-header
    %h4 Comments
  .span12.offset2
    - comments.each do |comment|
      .pre{ style: 'border: 1px solid #ddd;padding:10px;margin-bottom:10px;'}
        %p= comment.content
        %small
          Author:
          = comment.manager.present? ? "Manager" : "Customer"
