.page-header
  %h1 Edit ticket

%section#edit_ticket
  .row-fluid
    .span12
      - if manager_signed_in?
        = render 'tickets/manager_edit'
      - else
        = render 'tickets/customer_tickets'
- if @ticket.comments.any?
  = render partial: 'tickets/comments', locals: { comments: @ticket.comments }
