= link_to 'Issue Tracker', '#', class: 'brand'
%ul.nav.user_menu.pull-right
  - if manager_signed_in?
    %li= link_to 'Logout', destroy_manager_session_path, method: 'delete'
  - else
    %li= link_to 'Manager Login', new_manager_session_path
